<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en MercadoLiebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
            <form class="form" action="#" method="GET">
                <input class="input" placeholder="Buscar productos, marcas y más" />
                <button class="submit"><i class="bi bi-search"></i></button>
            </form>
            <p class="header__text"><i class="bi bi-currency-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="bi bi-list"></i>
        </div>
    </header>
    <main class="main__register">
        <h2>Registro</h2>
        <section class="main__container__form ">
            <form action="/" method="get" class="register">

                <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido">

                <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuari@:">

                <input type="email" id="email" name="email" placeholder="E-mail">

                <h6>Fecha de nacimiento</h6>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" placeholder="mm/dd/yy">

                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio">

                <h6>Perfil de usuario</h6>
                <div class="radiobuttons">
                    <input type="radio" id="comprar" name="perfil-usuario" value="comprar">
                    <label for="comprar">Comprador</label>

                    <input type="radio" id="vender" name="perfil-usuario" value="vender">
                    <label for="vender">Vendedor</label>
                </div>


                <h6>Intereses</h6>
                <div class="intereses">

                    <div class="categoria">
                        <input type="checkbox" id="electro" name="categorias" value="Electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="categoria"><input type="checkbox" id="moda" name="categorias" value="Moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="categoria"><input type="checkbox" id="hogar" name="categorias" value="Hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="categoria"><input type="checkbox" id="jugueteria" name="categorias" value="Juguetería">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div class="categoria"><input type="checkbox" id="vida-sana" name="categorias" value="Vida sana">
                        <label for="vida-sana">Vida sana</label>
                    </div>
                </div>


                
                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
                
                <input type="password" id="confirmar-contrasena" name="confirmar-contrasena"
                placeholder="Confirmar contraseña">
                
                <h6>Foto de usuario:</h6>
                <input type="file" id="foto" name="foto" hidden>
                <!-- <input type="file" id="file-input" hidden> -->
                <label for="foto" class="form__file__input btn__form">Elige un archivo...</label>

                <input type="submit" value="Enviar" class="btn__form">
                <input type="reset" value="Borrar" class="btn__form">
            </form>

        </section>
    </main>
</body>

</html>